<div class="p-6 text-right h-7/8">
  <!-- العنوان وزر الإضافة -->
  <div class="flex flex-wrap h-1/4 justify-between items-center mb-6">
    <h2 class="text-xl font-bold mb-4">إدارة المتجات</h2>
    <button
      routerLink="add"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      إضافة منتج
    </button>
  </div>

  <div
    class="overflow-x-auto rounded-lg h-3/4 border border-gray-300 max-h-1/4"
  >
    <table
      class="w-full h-full border-collapse bg-white shadow-md rounded-lg overflow-hidden"
    >
      <thead class="bg-gray-200">
        <tr>
          <th class="p-3 text-sm sm:text-lg">ID</th>
          <th class="p-3 text-sm sm:text-lg">اسم البائع</th>
          <th class="p-3 text-sm sm:text-lg">اسم المنتج</th>
          <th class="p-3 text-sm sm:text-lg">الوصف</th>
          <th class="p-3 text-sm sm:text-lg">الكمية</th>
          <th class="p-3 text-sm sm:text-lg">السعر</th>
          <th class="p-3 text-sm sm:text-lg">القسم</th>
          <th class="p-3 text-sm sm:text-lg">
            <img class="w-10" src="/assets/icons/info.png" alt="" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-t text-sm sm:text-base"
          *ngFor="let product of filteredProducts"
        >
          <td class="p-3">{{ product.id }}</td>
          <td class="p-3">{{ product.sellerName }}</td>
          <td class="p-3">{{ product.name }}</td>
          <td class="p-3">{{ product.description }}</td>
          <td class="p-3">{{ product.quantity }}</td>
          <td class="p-3">{{ product.price }}</td>
          <td class="p-3">{{ product.categoryName }}</td>
          <td class="p-3">
            <app-list-of-options
              [ProductId]="product.id.toString()"
            ></app-list-of-options>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
