<div class="p-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-5">
    <div class="bg-white shadow-md p-4 rounded-2xl text-center">
      <div class="flex flex-wrap justify-around items-center gap-2">
        <img class="w-20" src="/assets/icons/group.png" />
        <h3 class="text-3xl font-bold">المستخدمين</h3>
      </div>
      <p class="text-4xl my-2 text-blue-900 font-bold">
        {{ dashboardData.countUsers }}
      </p>
      <button
        class="bg-color w-full mt-2 rounded-lg text-white text-2xl font-bold text-center px-4 py-2"
      >
        ادارة الحسابات
      </button>
    </div>
    <div class="bg-white shadow-md p-4 rounded-2xl text-center">
      <div class="flex flex-wrap justify-around items-center gap-2">
        <img class="w-20" src="/assets/icons/product.png" />
        <h3 class="text-3xl font-bold">المنتجات</h3>
      </div>
      <p class="text-4xl my-2 text-blue-900 font-bold">
        {{ dashboardData.countProducts }}
      </p>
      <button
        class="bg-color w-full mt-2 rounded-lg text-white text-2xl font-bold text-center px-4 py-2"
      >
        ادارة المنتجات
      </button>
    </div>
    <div class="bg-white shadow-md p-4 rounded-2xl text-center">
      <div class="flex flex-wrap justify-around items-center gap-2">
        <img class="w-20" src="/assets/icons/auction.png" />
        <h3 class="text-3xl font-bold">المزادات</h3>
      </div>
      <p class="text-4xl my-2 text-blue-900 font-bold">
        {{ dashboardData.countAuctions }}
      </p>
      <button
        class="bg-color w-full mt-2 rounded-lg text-white text-2xl font-bold text-center px-4 py-2"
      >
        ادارة المزاد
      </button>
    </div>
    <div class="bg-white shadow-md p-4 rounded-2xl text-center">
      <div class="flex flex-wrap justify-around items-center gap-2">
        <img class="w-20" src="/assets/icons/message.png" />
        <h3 class="text-3xl font-bold">التعليقات</h3>
      </div>
      <p class="text-4xl my-2 text-blue-900 font-bold">30</p>
      <button
        class="bg-color w-full mt-2 rounded-lg text-white text-2xl font-bold text-center px-4 py-2"
      >
        ادارة التعليقات
      </button>
    </div>
  </div>
</div>
