<h2 mat-dialog-title>اضافة المنتج الى المزاد</h2>
<mat-dialog-content>
  <div *ngIf="errorMessage" class="text-red-500 mb-4 text-2xl">
    <mat-icon class="text-red-500">error</mat-icon>
    {{ errorMessage }}
  </div>

  <div>
    <span class="text-black-600 text-2xl"> ينتهي المزاد بعد</span>
    <input
      type="number"
      [(ngModel)]="valueOfInputNumber"
      class="w-40 border-2 border-gray-300 rounded-md text-xl p-4 mx-2"
      min="1"
      name="valueOfInputNumber"
    />
    <select
      name="selectedTimeUnitValue"
      class="w-30 border-2 border-gray-300 text-xl rounded-md p-4"
      [(ngModel)]="selectedTimeUnitValue"
    >
      <option *ngFor="let unit of timeUnits" [value]="unit.key">
        {{ unit.value }}
      </option>
    </select>
  </div>
</mat-dialog-content>
<mat-dialog-actions te align="center">
  <button mat-button (click)="close()">
    <span class="text-2xl">الغاء</span>
  </button>
  <button mat-raised-button color="primary" (click)="Add()">
    <span class="text-2xl">اضافة</span>
  </button>
</mat-dialog-actions>
