<!-- <div class="p-6 text-right max-h-screen-2xl">
 
  <div class="flex flex-wrap justify-between items-center mb-6">
    <h2 class="text-xl font-bold mb-4">إدارة المزادات</h2>
    <button
      (click)="openModal()"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      إضافة مزاد
    </button>
  </div>

 


  <div class="overflow-x-auto max-h-80">
    <table
      class="w-full border-collapse bg-white shadow-md rounded-lg max-h-screen-2xl"
    >
      <thead class="bg-gray-200">
        <tr>
          <th class="p-3 text-sm sm:text-lg">ID</th>
          <th class="p-3 text-sm sm:text-lg">اسم المنتج</th>
          <th class="p-3 text-sm sm:text-lg">المزايدين</th>
          <th class="p-3 text-sm sm:text-lg">السعر</th>
          <th class="p-3 text-sm sm:text-lg">الكمية</th>
          <th class="p-3 text-sm sm:text-lg">بداء المزاد</th>
          <th class="p-3 text-sm sm:text-lg">انتهاء المزاد</th>
          <th class="p-3 text-sm sm:text-lg">الحالة</th>
          <th class="p-3 text-sm sm:text-lg">
            <img class="w-10" src="/assets/icons/info.png" alt="" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-t text-sm sm:text-base"
          *ngFor="let auction of auctions"
        >
          <td class="p-3">{{ auction.id }}</td>
          <td class="p-3">{{ auction.productName }}</td>
          <td class="p-3">{{ auction.numberOfBidders }}</td>
          <td class="p-3">{{ auction.price }}</td>
          <td class="p-3">{{ auction.quantity }}</td>
          <td class="p-3">
            {{ auction.startDate | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td class="p-3">
            {{ auction.endDate | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td class="p-3">
            <button
              class="text-white font-bold py-2 px-3 rounded-3xl w-full sm:w-40 shadow-lg transition-all duration-300 transform hover:scale-105 active:scale-95"
              [ngClass]="{
                'bg-green-600 hover:bg-green-700 active:bg-green-800 ':
                  auction.state === 'Active',
                'bg-blue-600 hover:bg-blue-700 active:bg-blue-800':
                  auction.state === 'Pending',
                'bg-red-600 hover:bg-red-700 active:bg-red-800':
                  auction.state === 'Canceled'
              }"
            >
              {{ auction.state }}
            </button>
          </td>

          <td class="p-3">
            <img class="w-10" src="/assets/icons/Edit.png" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<div class="p-6">
  <div class="overflow-x-auto">
    <table class="min-w-full text-xl text-left rtl:text-right border-collapse">
      <thead class="text-xl text-gray-700 bg-gray-300 rounded-2xl">
        <tr>
          <th class="px-4 py-4 rounded-tr-2xl">ID</th>
          <th class="px-4 py-4">اسم المنتج</th>
          <th class="px-4 py-4">المزايدين</th>
          <th class="px-4 py-4">السعر</th>
          <th class="px-4 py-4">الكمية</th>
          <th class="px-4 py-4">بدء المزاد</th>
          <th class="px-4 py-4">انتهاء المزاد</th>
          <th class="px-4 py-4">الحالة</th>
          <th class="px-4 py-4 rounded-tl-2xl">تعديل</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of auctions"
          class="text-xl py-2 bg-white hover:bg-gray-50 border-t"
        >
          <td class="px-4 py-4">{{ item.id }}</td>
          <td class="px-4 py-4">{{ item.productName }}</td>
          <td class="px-4 py-4">{{ item.numberOfBidders }}</td>
          <td class="px-4 py-4">{{ item.price }}</td>
          <td class="px-4 py-4">{{ item.quantity }}</td>
          <td class="px-4 py-4">{{ item.startDate }}</td>
          <td class="px-4 py-4">{{ item.endDate }}</td>
          <td class="px-4 py-4">
            <span
              [ngClass]="statusClass(item.state)"
              class="text-xl px-4 py-2 w-full text-center rounded-full"
            >
              {{ item.state }}
            </span>
          </td>
          <td class="px-4 py-4">
            <button class="text-orange-500 hover:underline">✏️</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="flex justify-end mt-4 space-x-1">
    <button
      class="px-4 py-3 border bg-white hover:bg-gray-100"
      (click)="prevPage()"
      [disabled]="currentPage === 1"
    >
      Prev
    </button>

    <button
      *ngFor="let page of totalPagesArray"
      class="px-4 py-3 border"
      [class.bg-blue-500]="page === currentPage"
      [class.text-white]="page === currentPage"
      (click)="goToPage(page)"
    >
      {{ page }}
    </button>

    <button
      class="px-4 py-3 border bg-white hover:bg-gray-100"
      (click)="nextPage()"
      [class.hidden]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</div>
