<div class="p-6 text-right">
  <!-- العنوان وزر الإضافة -->
  <div class="flex flex-wrap justify-between items-center mb-6">
    <h2 class="text-xl font-bold mb-4">إدارة المزادات</h2>
    <button
      (click)="openDialog()"
      class="bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition"
    >
      إضافة مزاد
    </button>
  </div>

  <!-- النافذة المنبثقة -->
  <!-- <app-add-user [isOpen]="isModalOpen" (close)="closeModal()"></app-add-user>-->

  <!-- جعل الجدول قابلاً للتمرير أفقيًا في الشاشات الصغيرة -->
  <div class="overflow-x-auto">
    <table
      class="w-full border-collapse bg-white shadow-md rounded-lg overflow-hidden"
    >
      <thead class="bg-gray-200">
        <tr>
          <th class="p-3 text-sm sm:text-lg">ID</th>
          <th class="p-3 text-sm sm:text-lg">اسم المنتج</th>
          <th class="p-3 text-sm sm:text-lg">المزايدين</th>
          <th class="p-3 text-sm sm:text-lg">السعر</th>
          <th class="p-3 text-sm sm:text-lg">الكمية</th>
          <th class="p-3 text-sm sm:text-lg">بداء المزاد</th>
          <th class="p-3 text-sm sm:text-lg">انتهاء المزاد</th>
          <th class="p-3 text-sm sm:text-lg">الحالة</th>
          <th class="p-3 text-sm sm:text-lg">
            <img class="w-10" src="/assets/icons/info.png" alt="" />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="border-t text-sm sm:text-base"
          *ngFor="let auction of auctions"
        >
          <td class="p-3">{{ auction.id }}</td>
          <td class="p-3">{{ auction.name }}</td>
          <td class="p-3">{{ auction.numperOfBidders }}</td>
          <td class="p-3">{{ auction.price }}</td>
          <td class="p-3">{{ auction.quantity }}</td>
          <td class="p-3">
            {{ auction.createdAt | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td class="p-3">
            {{ auction.endtedAt | date : "yyyy-MM-dd HH:mm:ss" }}
          </td>
          <td class="p-3">
            <button
              class="text-white font-bold py-2 px-3 rounded-3xl w-full sm:w-40 shadow-lg transition-all duration-300 transform hover:scale-105 active:scale-95"
              [ngClass]="{
                'bg-blue-600 hover:bg-blue-700 active:bg-blue-800 ':
                  auction.status === 'جاري',
                'bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800':
                  auction.status === 'قادم',
                'bg-red-600 hover:bg-red-700 active:bg-red-800':
                  auction.status === 'منتهي'
              }"
            >
              {{ auction.status }}
            </button>
          </td>

          <td class="p-3">
            <img class="w-10" src="/assets/icons/Edit.png" alt="" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
